#!/bin/ksh
#

daemon="/usr/local/sbin/watchtabled"

. /etc/rc.d/rc.subr

rc_reload=NO

rc_check() {
        pgrep -T "${daemon_rtable}" -q -xf "/bin/sh ${pexp}"
}

rc_stop() {
        pkill -T "${daemon_rtable}" -xf "/bin/sh ${pexp}"
}

rc_cmd $1
